img {
    width:100%;
}

.cardimg {
    max-height: 100%;
    height:30rem;

    width:auto;
}

@media screen and (max-width:767px) {

    .cardimg {
    max-height: auto;
    height:auto;

    max-width:100%;

    width:33rem;

    margin:auto;
    }

}